/* Global Layout Set-up */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: black;
  padding: 2rem 0;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: flex-end;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: #fff;
}
.nav li {
  list-style: none;
  margin: 0 1rem;
  font-weight: 900;
}
.nav a {
  color: #fff;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s ease-in;
}
.main-nav a:hover {
  border-color: #fff;
}
.main-nav a.current {
  border-color: #ff9904;
}
.name a:hover {
  border-color: transparent;
}
header {
  text-align: center;
  background: url("../images/cividale.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  padding-top: 5rem;
  max-height: 100vh;
  line-height: 1.5rem;
}

.profile-image {
  margin-top: 4rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #fff;
  transition: all 0.5s;
}
.profile-image:hover {
  transform: scale(1.1) rotate(360deg);
  cursor: pointer;
}
.tag {
  background-color: #999;
  opacity: 0.8;
  color: #000;
  padding: 1rem;
  border-radius: 5px;
  margin: 1rem auto;
  font-weight: 700;
  display: table;
}
.card h2 {
  margin-bottom: 0.5rem;
}
.card {
  margin: 2.5rem;
  padding: 1.5rem 3rem 3rem;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all 0.5s;
}
.card:hover {
  border-color: #ff99ff;
}
.card p {
  margin-bottom: 1rem;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 4px;
  font-weight: 500;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}
.skills li:last-child {
  margin-bottom: 1rem;
}
/* Experience Page*/
.main-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  transition: border-radius, filter, 0.3s ease-in-out;
}
.main-image:hover {
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
}
.skills span {
  color: #000;
  font-weight: bold;
}
.section-title {
  text-transform: uppercase;
}
.resume {
  margin: 0 auto;
  padding: 10.5rem 3rem;
  max-width: 500px;
  text-align: center;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all 0.5s;
}
.resume h2 {
  margin-bottom: 1rem;
}
.resume:hover {
  border-color: #ff99ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  margin-top: 1rem;
  font-size: 0.75rem;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.4;
  transition: all 0.5s;
}
a.twitter {
  background-image: url(../images/twitter.svg);
}
a.linkedin {
  background-image: url(../images/linkedin.svg);
}
a.github {
  background-image: url(../images/github.svg);
}
a.social:hover {
  opacity: 1;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  .flex {
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: flex;
    max-width: 1200px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 0 auto;
  }

  header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav {
    max-width: 1200px;
    padding: 0 2rem;
  }

  main {
    padding-top: 2rem;
  }

  main p {
    line-height: 1.6rem;
  }

  footer {
    font-size: 1.3rem;
    max-width: 1200px;
    margin: 3rem auto;
  }
}
